.form{
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid red;
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 350px;
    color: aliceblue;
}
form input{
    background-color: black;
    color: azure;
    padding: 10px;
}
.top2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.middle{
 display: grid;
}
.last{
    font-family: inherit;
    flex-grow: 1;
    background-color: black;
    resize: none;
    padding: 10px;
    color: azure;
}