
.header{
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
    align-items: center;
      
} 
.shop-link{
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
}
.links a{
    align-items: center;
    color: rgb(10, 9, 9);
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}
.searchp{
    align-content: center;
}
.signupsec{
  display: grid;
  grid-template-columns: auto auto;
}
.formsection{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.formsection h2{
    font-size: 50px;
}
.formsection p{
    font-size: 20px;
    margin-top:-5px;
}
form input{
    padding: 20px 80px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 20px;
    align-items:start;
}
.create-btn{
    background-color: red;
    color: white;
    font-size: 25px;
    padding: 20px 90px; 
    justify-content: center;
    margin-top: 5px;
}
.googlebtn{
    margin-top:5px ;
    background-color:rgb(233, 227, 227);
    font-size: 20px;
    padding: 20px 90px; 
    text-align: center;
}
.sign-in-para{
   font-size: 15px;
   margin-top: 10px;
}
.footer{
    background-color: black;
    height: 410px;
    color: white;
    padding: 50px;
    display: flex;
    justify-content:space-evenly ;
    font-size: 20px;
}
.footer p{
    font-size: 20px;
}
.footer input{
    font-size: 20px;
    background-color: black;
    color: gray;
    border: 1px solid white;
}
.qcode{
    background-color: white;
    width: 80px;
    margin-top: 10px;
}
.gplay{
    height:60px;
}
.apple-st{
    height: 60px;
}
.face-svg{
    height: 60px;
    background-color: white;
}


    
